li {
  font-size: 16px;
  list-style: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

br {
  background-color:  #424242;
}

a {
  color: #65D9EF;
}

.nav-button {
  font-size: "1rem";
  font-style: "italic";
  text-transform: "capitalize";
}


#main {
  padding: 0;
}

@media screen and (max-width: 600px) {
  #main {
    padding: 0 0.5rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
